.header {
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    background: #1C1A19;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    &__logo {
        display: flex;
        align-items: center;
        gap: 15px;
        background: transparent;
        border: none;
        padding: 0;
        svg {
            display: flex;
            flex-shrink: 0;
        }
        p {
            font-family: 'UA_Blade_Runner', sans-serif;
            font-style: italic;
            font-weight: 700;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            color: #FFFFFF;
            span {
                color: #FDBF5A;
            }
        }
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 45px;
            li {
                button {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 25px;
                    color: #FFFFFF;
                    transition: .3s all;
                    border: none;
                    background: transparent;
                    padding: 0;
                    &:hover {
                        color: #FDBF5A;
                    }
                }
                .active {
                    color: #FDBF5A;
                }
            }
        }
    }
}